# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'

    # Note that the session will be started ONLY if you read or write from it.
    session: true

    #esi: true
    #fragments: true
    http_client:
        scoped_clients:
            lexware.client:
                base_uri: '%env(LEXWARE_BASE_URI)%'
                headers:
                    Authorization: 'Bearer %env(LEXWARE_API_KEY)%'
                    # Optional: 'X-Lexware-Tenant': '%env(default::LEXWARE_TENANT)%'
                timeout: 30


when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
